<div id="kessler-component-header-box">
  <div class="logo">
    <svg width="196px" height="50px" viewBox="0 0 196 50" version="1.1" xmlns="http://www.w3.org/2000/svg"
         xmlns:xlink="http://www.w3.org/1999/xlink">
      <defs>
        <polygon id="path-1"
                 points="0.686046512 0.558139535 4.67209302 0.558139535 4.67209302 49.9302326 0.686046512 49.9302326"></polygon>
      </defs>
      <g id="Desktop-992px" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="desktop/07_apps/01_apps" transform="translate(-60.000000, -20.000000)">
          <g id="header">
            <g id="Kessler_Logo_pos_RGB" transform="translate(60.000000, 19.963739)">
              <polyline id="Fill-1" fill="#ffffff"
                        points="81.2197674 19.7046512 74.4860465 24.2267442 81.4825581 31.2244186 76.9034884 31.2406977 71.7104651 26.0488372 67.6546512 28.7744186 67.6511628 31.2244186 64.3651163 31.2244186 64.3651163 19.7046512 67.6511628 19.7046512 67.6511628 25.0593023 75.9616279 19.7209302 81.2197674 19.7046512"></polyline>
              <polyline id="Fill-2" fill="#ffffff"
                        points="99.2639535 19.7232558 99.2639535 22.3511628 87.1732558 22.3511628 87.1732558 24.1709302 99.2639535 24.1709302 99.2639535 26.7988372 87.1732558 26.7988372 87.1732558 28.5790698 99.2639535 28.5790698 99.2639535 31.2069767 83.8976744 31.2069767 83.8976744 19.7232558 99.2639535 19.7232558"></polyline>
              <polyline id="Fill-3" fill="#ffffff"
                        points="175.368605 19.7232558 175.368605 22.3511628 163.277907 22.3511628 163.277907 24.1709302 175.368605 24.1709302 175.368605 26.7988372 163.277907 26.7988372 163.277907 28.5790698 175.368605 28.5790698 175.368605 31.2069767 160.002326 31.2069767 160.002326 19.7232558 175.368605 19.7232558"></polyline>
              <polyline id="Fill-4" fill="#ffffff"
                        points="145.990698 19.7232558 145.990698 28.5790698 157.859302 28.5790698 157.859302 31.2069767 142.715116 31.2069767 142.715116 19.7232558 145.990698 19.7232558"></polyline>
              <path
                d="M115.545349,24.1093023 C117.032558,24.1093023 118.516279,24.5546512 119.260465,26.0104651 C119.777907,27.1755814 119.774419,28.727907 118.997674,29.7302326 C117.805814,31.5104651 115.480233,31.2069767 115.480233,31.2069767 L103.226744,31.2069767 L103.226744,28.5790698 L115.873256,28.5790698 C116.410465,28.5790698 116.774419,28.205814 116.774419,27.7093023 C116.774419,27.2116279 116.37093,26.8081395 115.873256,26.8081395 L106.452326,26.7988372 C105.384884,26.7348837 104.318605,26.1767442 103.672093,25.205814 C103.056977,24.1709302 102.996512,22.4232558 103.773256,21.4209302 C105.147674,19.4593023 106.988372,19.7232558 108.977907,19.705814 C112.438372,19.7709302 119.2,19.7232558 119.2,19.7232558 L119.2,22.3511628 L107.160465,22.3593023 C106.662791,22.3593023 106.260465,22.7627907 106.260465,23.2604651 C106.260465,23.7581395 106.662791,24.1093023 107.160465,24.1093023 L115.545349,24.1093023"
                id="Fill-5" fill="#ffffff"></path>
              <path
                d="M135.238372,24.1093023 C136.725581,24.1093023 138.210465,24.5546512 138.954651,26.0104651 C139.472093,27.1755814 139.468605,28.727907 138.69186,29.7302326 C137.498837,31.5104651 135.173256,31.2069767 135.173256,31.2069767 L122.92093,31.2069767 L122.92093,28.5790698 L135.566279,28.5790698 C136.103488,28.5790698 136.467442,28.205814 136.467442,27.7093023 C136.467442,27.2116279 136.063953,26.8081395 135.566279,26.8081395 L126.145349,26.7988372 C125.077907,26.7348837 124.012791,26.1767442 123.365116,25.205814 C122.75,24.1709302 122.689535,22.4232558 123.466279,21.4209302 C124.84186,19.4593023 126.681395,19.7232558 128.67093,19.705814 C132.132558,19.7709302 138.894186,19.7232558 138.894186,19.7232558 L138.894186,22.3511628 L126.854651,22.3593023 C126.356977,22.3593023 125.953488,22.7627907 125.953488,23.2604651 C125.953488,23.7581395 126.356977,24.1093023 126.854651,24.1093023 L135.238372,24.1093023"
                id="Fill-6" fill="#ffffff"></path>
              <path
                d="M191.432558,24.1418605 L182.547674,24.1383721 L182.547674,22.3511628 L191.39186,22.3511628 C191.889535,22.3511628 192.333721,22.7430233 192.333721,23.2406977 C192.333721,23.7383721 191.930233,24.1418605 191.432558,24.1418605 Z M192.943023,26.7348837 C194.540698,26.3906977 195.737209,24.9697674 195.737209,23.2697674 C195.737209,21.3116279 194.148837,19.7244186 192.19186,19.7244186 L179.27093,19.7232558 L179.27093,31.2069767 L182.547674,31.2069767 L182.547674,26.7988372 L189.416279,26.8046512 L192.280233,31.2232558 L195.825581,31.2104651 L192.943023,26.7348837 Z"
                id="Fill-7" fill="#ffffff"></path>
              <path
                d="M37.7093023,23.8837209 L35.5953488,24.0116279 C35.355814,21.9546512 34.544186,20.0744186 33.322093,18.5302326 L34.9081395,17.1255814 C34.322093,16.4011628 33.6604651,15.7395349 32.9348837,15.1546512 L31.5313953,16.7395349 C29.9883721,15.5186047 28.1069767,14.705814 26.05,14.4674419 L26.1790698,12.3569767 C25.7197674,12.3069767 25.2569767,12.2825581 24.7848837,12.2825581 C24.3139535,12.2825581 23.8488372,12.3081395 23.3895349,12.3569767 L23.5174419,14.4662791 C21.4604651,14.705814 19.5790698,15.5186047 18.0372093,16.7395349 L16.6337209,15.1569767 C15.9093023,15.7406977 15.2476744,16.4023256 14.6616279,17.127907 L16.2453488,18.5302326 C15.0232558,20.0744186 14.2116279,21.9546512 13.972093,24.0116279 L11.8616279,23.8848837 C11.8139535,24.3430233 11.7883721,24.8081395 11.7883721,25.2790698 C11.7883721,25.7511628 11.8139535,26.2151163 11.8616279,26.672093 L13.972093,26.544186 C14.2104651,28.6023256 15.0232558,30.4837209 16.2430233,32.0267442 L14.6604651,33.4290698 C15.2453488,34.1546512 15.9069767,34.8151163 16.6325581,35.4011628 L18.0348837,33.8186047 C19.577907,35.0406977 21.4593023,35.8523256 23.5174419,36.0906977 L23.3895349,38.2011628 C23.8488372,38.2511628 24.3139535,38.2767442 24.7848837,38.2767442 C25.2569767,38.2767442 25.7197674,38.2511628 26.1790698,38.2023256 L26.05,36.0918605 C28.1069767,35.8534884 29.9895349,35.0406977 31.5325581,33.8186047 L32.9360465,35.4023256 C33.6616279,34.8174419 34.3244186,34.1569767 34.9081395,33.4302326 L33.3244186,32.0267442 C34.5453488,30.4837209 35.3569767,28.6023256 35.5953488,26.544186 L37.7093023,26.672093 C37.7581395,26.2151163 37.7825581,25.7511628 37.7825581,25.2790698 C37.7825581,24.8081395 37.7581395,24.3430233 37.7093023,23.8837209"
                id="Fill-8" fill="#ffffff"></path>
              <path
                d="M24.7709302,39.0395349 C17.1988372,39.0395349 11.0604651,32.9011628 11.0604651,25.3290698 C11.0604651,17.7569767 17.1988372,11.6186047 24.7709302,11.6186047 C32.3418605,11.6186047 38.4813953,17.7569767 38.4813953,25.3290698 C38.4813953,32.9011628 32.3418605,39.0395349 24.7709302,39.0395349 Z M24.7709302,9.94302326 C16.2732558,9.94302326 9.38372093,16.8325581 9.38372093,25.3290698 C9.38372093,33.8267442 16.2732558,40.7162791 24.7709302,40.7162791 C33.2674419,40.7162791 40.155814,33.8267442 40.155814,25.3290698 C40.155814,16.8325581 33.2674419,9.94302326 24.7709302,9.94302326 Z"
                id="Fill-9" fill="#ffffff"></path>
              <polyline id="Fill-10" fill="#08204D"
                        points="32.6988372 19.5569767 28.3267442 19.5569767 21.4023256 24.5569767 21.4023256 19.5569767 18.7965116 19.5569767 18.7965116 31.2151163 21.4023256 31.2151163 21.4023256 27.7127907 23.4360465 26.244186 29.0244186 31.2151163 32.644186 31.2151163 25.4348837 24.8023256 32.6988372 19.5569767"></polyline>
              <path
                d="M11.0569767,36.6593023 L7.47209302,39.8348837 C7.40465116,39.8872093 7.33953488,39.9418605 7.27790698,40.0034884 C6.5,40.7813953 6.5,42.044186 7.27790698,42.822093 C8.05581395,43.6 9.31860465,43.6 10.0965116,42.822093 C10.1604651,42.755814 10.2197674,42.6860465 10.2744186,42.6139535 L13.4418605,39.0395349 C12.5732558,38.322093 11.7755814,37.5244186 11.0569767,36.6593023"
                id="Fill-11" fill="#ffffff"></path>
              <path
                d="M42.2860465,40.0255814 C42.2244186,39.9639535 42.1593023,39.9093023 42.0906977,39.8569767 L38.527907,36.7 C37.8081395,37.5662791 37.0069767,38.3627907 36.1372093,39.077907 L39.2895349,42.6372093 C39.344186,42.7069767 39.4023256,42.777907 39.4674419,42.844186 C40.2453488,43.6232558 41.5069767,43.6232558 42.2860465,42.844186 C43.0639535,42.0662791 43.0639535,40.8046512 42.2860465,40.0255814"
                id="Fill-12" fill="#ffffff"></path>
              <path
                d="M47.5488372,23.3348837 C47.4616279,23.3348837 47.3755814,23.344186 47.2918605,23.3546512 L42.5802326,23.6395349 C42.6290698,24.1802326 42.6569767,24.7267442 42.6569767,25.2790698 C42.6569767,25.8651163 42.6267442,26.444186 42.5709302,27.0162791 L47.2755814,27.3 C47.3651163,27.3127907 47.455814,27.3209302 47.5488372,27.3209302 C48.65,27.3209302 49.5406977,26.4290698 49.5406977,25.3290698 C49.5406977,24.227907 48.65,23.3348837 47.5488372,23.3348837"
                id="Fill-13" fill="#ffffff"></path>
              <path
                d="M38.5755814,13.9127907 L42.077907,10.8104651 C42.15,10.755814 42.2209302,10.6965116 42.2860465,10.6313953 C43.0639535,9.85348837 43.0639535,8.59186047 42.2860465,7.8127907 C41.5081395,7.03604651 40.2453488,7.03604651 39.4674419,7.8127907 C39.4069767,7.8744186 39.3511628,7.94069767 39.3,8.00813953 L36.1872093,11.5209302 C37.055814,12.2406977 37.8569767,13.0430233 38.5755814,13.9127907"
                id="Fill-14" fill="#ffffff"></path>
              <g id="Group-18" transform="translate(22.093023, 0.000000)">
                <mask id="mask-2" fill="white">
                  <use xlink:href="#path-1"></use>
                </mask>
                <g id="Clip-16"></g>
                <path
                  d="M0.988372093,7.49418605 C1.55,7.44069767 2.11860465,7.4127907 2.69534884,7.4127907 C3.26046512,7.4127907 3.81744186,7.43953488 4.36744186,7.49069767 L4.65,2.8244186 C4.6627907,2.73488372 4.67209302,2.64302326 4.67209302,2.55 C4.67209302,1.45 3.77906977,0.558139535 2.67790698,0.558139535 C1.57674419,0.558139535 0.686046512,1.45 0.686046512,2.55 C0.686046512,2.63837209 0.693023256,2.72325581 0.703488372,2.80697674 L0.988372093,7.49418605"
                  id="Fill-15" fill="#ffffff" mask="url(#mask-2)"></path>
                <path
                  d="M4.36860465,43.0627907 C3.80581395,43.1162791 3.23604651,43.144186 2.65930233,43.144186 C2.09651163,43.144186 1.53953488,43.1174419 0.988372093,43.0662791 L0.705813953,47.7337209 C0.694186047,47.8232558 0.686046512,47.9139535 0.686046512,48.005814 C0.686046512,49.1069767 1.57674419,50 2.67790698,50 C3.77906977,50 4.67209302,49.1069767 4.67209302,48.005814 C4.67209302,47.9197674 4.66395349,47.8348837 4.65348837,47.7488372 L4.36860465,43.0627907"
                  id="Fill-17" fill="#ffffff" mask="url(#mask-2)"></path>
              </g>
              <path
                d="M7.4627907,10.8104651 L10.9872093,13.9325581 C11.7046512,13.0604651 12.5023256,12.2604651 13.3697674,11.5395349 L10.2430233,8.00813953 C10.1906977,7.94069767 10.1360465,7.8744186 10.0732558,7.81395349 C9.29534884,7.03604651 8.03255814,7.03604651 7.25465116,7.81395349 C6.47674419,8.59186047 6.47674419,9.85465116 7.25465116,10.6313953 C7.32093023,10.6965116 7.39069767,10.755814 7.4627907,10.8104651"
                id="Fill-19" fill="#ffffff"></path>
              <path
                d="M6.91860465,25.2790698 C6.91860465,24.727907 6.94534884,24.1813953 6.99534884,23.6418605 L2.25116279,23.3546512 C2.16627907,23.344186 2.08023256,23.3348837 1.99418605,23.3348837 C0.893023256,23.3348837 0,24.227907 0,25.3290698 C0,26.4290698 0.893023256,27.3209302 1.99418605,27.3209302 C2.0872093,27.3209302 2.17674419,27.3127907 2.26627907,27.3 L7.00232558,27.0151163 C6.94767442,26.4430233 6.91860465,25.8651163 6.91860465,25.2790698"
                id="Fill-20" fill="#ffffff"></path>
              <path
                d="M24.7848837,9.28372093 C25.7511628,9.28372093 26.6988372,9.36976744 27.6186047,9.53372093 C27.6081395,9.47674419 27.5232558,9.03139535 27.4802326,8.77325581 C27.4372093,8.50697674 27.2988372,8.16046512 26.994186,8.12674419 C25.1837209,7.93488372 24.3186047,7.93488372 22.5976744,8.11860465 C22.2569767,8.15581395 22.155814,8.50465116 22.1023256,8.77325581 C22.0476744,9.0372093 21.95,9.53372093 21.95,9.53372093 L21.9511628,9.53372093 C22.872093,9.36976744 23.8186047,9.28372093 24.7848837,9.28372093"
                id="Fill-21" fill="#ffffff"></path>
              <path
                d="M11.6418605,16.1523256 C11.65,16.144186 11.6569767,16.1360465 11.6662791,16.127907 C12.75,14.5767442 14.1011628,13.2267442 15.6546512,12.1453488 C15.6383721,12.1348837 15.2372093,11.8616279 15.0151163,11.7023256 C14.7953488,11.5465116 14.4534884,11.3976744 14.2151163,11.5906977 C12.7976744,12.7337209 12.1848837,13.3465116 11.0988372,14.694186 C10.8848837,14.9593023 11.0604651,15.2802326 11.2116279,15.5069767 C11.3604651,15.7313953 11.6418605,16.1523256 11.6418605,16.1523256"
                id="Fill-22" fill="#ffffff"></path>
              <path
                d="M8.78953488,25.2790698 C8.78953488,24.3255814 8.87325581,23.3918605 9.03372093,22.4837209 C8.97790698,22.4953488 8.5255814,22.5848837 8.27790698,22.6360465 C8.01046512,22.6906977 7.66162791,22.7918605 7.6244186,23.1313953 C7.43953488,24.8523256 7.43953488,25.7174419 7.63255814,27.527907 C7.66511628,27.8325581 8.0127907,27.9709302 8.27790698,28.0139535 C8.55348837,28.0593023 9.04534884,28.1546512 9.04534884,28.1546512 C9.04534884,28.15 9.04534884,28.1465116 9.04534884,28.1430233 C8.87790698,27.2139535 8.78953488,26.2569767 8.78953488,25.2790698"
                id="Fill-23" fill="#ffffff"></path>
              <path
                d="M11.672093,34.4406977 C11.6709302,34.4395349 11.6697674,34.4383721 11.6686047,34.4372093 C11.6686047,34.4372093 11.3872093,34.8581395 11.2395349,35.0825581 C11.0872093,35.3104651 10.9127907,35.6302326 11.1267442,35.8953488 C12.2139535,37.2430233 12.8244186,37.855814 14.2418605,38.9988372 C14.4802326,39.1918605 14.8232558,39.044186 15.044186,38.8860465 C15.2697674,38.7244186 15.6837209,38.444186 15.6837209,38.444186 C15.6732558,38.4337209 15.6639535,38.4232558 15.6546512,38.4127907 C14.1034884,37.3337209 12.7546512,35.9872093 11.672093,34.4406977"
                id="Fill-24" fill="#ffffff"></path>
              <path
                d="M24.7848837,41.2755814 C23.8232558,41.2755814 22.8837209,41.1906977 21.9686047,41.027907 C21.9616279,41.027907 21.955814,41.027907 21.95,41.027907 C21.95,41.027907 22.0476744,41.5244186 22.1023256,41.7883721 C22.155814,42.055814 22.2569767,42.405814 22.5976744,42.4418605 C24.3186047,42.627907 25.1837209,42.627907 26.994186,42.4348837 C27.2988372,42.4034884 27.4372093,42.055814 27.4802326,41.7883721 C27.5244186,41.5232558 27.6127907,41.0616279 27.6197674,41.0244186 C26.7,41.1906977 25.7523256,41.2755814 24.7848837,41.2755814"
                id="Fill-25" fill="#ffffff"></path>
              <path
                d="M37.9186047,34.4116279 C36.8360465,35.9674419 35.4825581,37.322093 33.9267442,38.4069767 C33.9209302,38.4116279 33.9162791,38.4174419 33.9116279,38.422093 C33.9116279,38.422093 34.3313953,38.7034884 34.5569767,38.8511628 C34.7848837,39.0034884 35.1023256,39.177907 35.3697674,38.9651163 C36.7174419,37.8767442 37.3302326,37.2662791 38.4732558,35.8488372 C38.6662791,35.6104651 38.5174419,35.2674419 38.3593023,35.0488372 C38.2046512,34.8313953 37.944186,34.4476744 37.9186047,34.4116279"
                id="Fill-26" fill="#ffffff"></path>
              <path
                d="M41.9476744,23.1313953 C41.9116279,22.7918605 41.5616279,22.6906977 41.294186,22.6360465 C41.0418605,22.5837209 40.5813953,22.4930233 40.5372093,22.4837209 C40.6976744,23.3918605 40.7813953,24.3255814 40.7813953,25.2790698 C40.7813953,26.2534884 40.694186,27.2081395 40.527907,28.1348837 C40.527907,28.1418605 40.527907,28.1476744 40.527907,28.1546512 C40.527907,28.1546512 41.0174419,28.0593023 41.294186,28.0139535 C41.5604651,27.9709302 41.9081395,27.8325581 41.9395349,27.527907 C42.1325581,25.7174419 42.1325581,24.8523256 41.9476744,23.1313953"
                id="Fill-27" fill="#ffffff"></path>
              <path
                d="M37.9395349,16.1767442 C37.9406977,16.1790698 37.9430233,16.1802326 37.9453488,16.1825581 C37.9453488,16.1825581 38.2255814,15.7686047 38.3883721,15.5406977 C38.5453488,15.3209302 38.6930233,14.977907 38.5,14.7395349 C37.3569767,13.3244186 36.7453488,12.7116279 35.3965116,11.6255814 C35.1313953,11.4116279 34.8116279,11.5872093 34.5837209,11.7372093 C34.3744186,11.877907 33.9906977,12.1325581 33.9430233,12.1639535 C35.5011628,13.2534884 36.855814,14.6139535 37.9395349,16.1767442"
                id="Fill-28" fill="#ffffff"></path>
            </g>
          </g>
        </g>
      </g>
    </svg>
  </div>
  <div class="user-component">
    IAP Exception Interceptor FE Develop App
  </div>
</div>
<div class="content-area">
  <div class="description-area" *ngIf="showDoku">
    Dieses Modul dient in den FE Applikationen zur Verarbeitung von Exceptions die vom Server kommen.
    <p>
      Installation:<br>

    </p>
    <p>
      Integration:<br>
    </p>
    <pre>
@NgModule(&#123;
declarations: [
  AppComponent
],
imports: [
  BrowserModule,
  IapExceptionInterceptorFeLibModule.forRoot(HttpInterceptorWorkerImpl) <--
],
providers: [
  &#123; <--
  provide: HTTP_INTERCEPTORS, <--
  useClass: IapExceptionInterceptorFeLibService, <--
  multi: true <--
  } <--
],
bootstrap: [AppComponent]
})
export class AppModule &#123;
}
    </pre>
  </div>
  <div class="button-area" *ngIf="!showDoku">
    <div class="button-line">
      <div class="button">
        <button (click)="statusMessageService.on200()">200</button>
      </div>
      <div class="label">OK</div>
    </div>
    <div class="button-line">
      <div class="button">
        <button (click)="statusMessageService.on401()">401</button>
      </div>
      <div class="label">Unauthorized</div>
    </div>
    <div class="button-line">
      <div class="button">
        <button (click)="statusMessageService.on403()">403</button>
      </div>
      <div class="label">Forbidden</div>
    </div>
    <div class="button-line">
      <div class="button">
        <button (click)="statusMessageService.on500()">500</button>
      </div>
      <div class="label">Internal Server Error</div>
    </div>
  </div>
  <div class="output-area" [innerHTML]="statusMessageService.statusMsg" *ngIf="!showDoku"></div>
</div>
