.content-area
  display: flex
  justify-content: stretch
  height: 100%

  .description-area
    width: 100%
    padding: 15px
    background-color: #e9e9e9

  .button-area
    width: 25%
    padding: 15px

    .button-line
      display: flex
      margin-bottom: 10px

      .button

      .label
        padding: 5px 0 0 15px

  .output-area
    width: 45%
    padding: 15px
