html, body
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
  padding: 0
  margin: 0
  width: 100%
  height: 100%

  #kessler-component-header-box
    background-color: #0d3349
    padding: 15px
    display: flex

    .logo
      flex: 1

    .user-component
      color: whitesmoke
      flex: 2
      text-align: right
      padding: 15px 0 0 0
      font-size: 20px
      font-weight: 600
